{% block css %}
<link rel="stylesheet" type="text/css" href="assets/css/jumbotron.css">
{% endblock css %}
<!--/*------------------------------------*\
    #Jumbotron
\*------------------------------------*/-->

<div class="container">

    <div class="picture">
	    
		    
		
		    <img src="/project/assets/images/lab.png" alt=""/>
			<h1>Science and shit</h1>
			
		    <div class="bottom">
				Hello, this is some text which tells you about the page. Please ignore it for now
		    </div>
			
		    <!--<p><a href="#">See more</a></p>-->
		
	</div>
</div>
