{% extends 'page.twig' %}
{% import 'form.twig' as f %}

{% block header %}
    <article class="col-md-12">
	<h1 class="center-block">Search</h1>
    </article>
{% endblock header %}

{% block main %}
    <section class="row">
        <div class="col-md-offset-2 col-md-8">
		
		<!-- TODO add url variables --> 
		<form action="{{base}}/results" method="post">
	        {{f.text({label: 'Search', name: 'search', required: 1})}}
			<button type="submit" class="btn btn-primary btn-lg">Search</button>
		</form>
        
		
		</div>
        <div class="col-md-2">
	   
		
	</div>
    </section>
{% endblock main %}


{% block footer %}
    <article class="col-md-12">
        <p class="center-block">Footer</p>
    </article>
{% endblock footer %}
