 @import url(https://fonts.googleapis.com/css?family=Roboto);
 
 
$font-stack: 'Roboto', sans-serif;
$bg-color: #d9e4ec; 
$hi-light: red;
$nav-color:  #262626; 



body {
  font-family: $font-stack;
  background-color: $bg-color;
}

/*------------------------------------*\
    #General layout
\*------------------------------------*/

.cntr 
{
    text-align: center;	
}

/*------------------------------------*\
    For the /admin pages
\*------------------------------------*/

/**
 * Used for delete buttons
 */
.delb {
    color: red;
}

.actb, .admb, .delb, .devb {
    cursor: pointer;
}

.noconfirm { color: red; }


/*------------------------------------*\
    #Main navbar style
\*------------------------------------*/


.navbar
 {
	 background-color: $nav-color;
	 margin-bottom: 0;
	 
 }
 
 #main-nav
 {
    a{
	     color: #FFF;     
			
     }
	 
 }
 
 body 
 {
	 #active
		 {
			background-color: $hi-light;
		    color:#000;
		 }
	 
 }
 
 
 .dropdown-menu
 {
	 background-color: $nav-color;
	 
	 ul>li>a:hover 
	 {
		background-color: $hi-light; 
	 }
	 
 }