 @import url(https://fonts.googleapis.com/css?family=Roboto);
 
 
$font-stack: 'Roboto', sans-serif;
$bg-color: #d9e4ec; 


body {
  font-family: $font-stack;
  background-color: $bg-color;
}

/*------------------------------------*\
    For the /admin pages
\*------------------------------------*/

/**
 * Used for delete buttons
 */
.delb {
    color: red;
}

.actb, .admb, .delb, .devb {
    cursor: pointer;
}

.noconfirm { color: red; }


/*------------------------------------*\
    #Main navbar style
\*------------------------------------*/


.navbar
 {
	 background-color:#789EAB;
	 margin-bottom: 0;
	 
 }
 #main-nav
 {
	 a{
	     color: #000;
	 }
 }
 
 